@import '../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';
@import '../node_modules/aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background: url('./assets/icon/images.png');
  background-size: cover;
  border-width: thin;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

.ngneat-dialog-content {
  overflow: visible !important;
}

.ngneat-dialog-backdrop {
  overflow: auto;
}

.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  z-index: 10000;
}

.input-date .ant-picker {
  padding: 0;
  padding-right: 12px;
  border: 0;
}

.cdk-overlay-container {
  height: 100%;
  width: 100%;
}

/* total width */
*::-webkit-scrollbar {
  background-color: #fff;
  width: 10px;
  height: 10px;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 16px;
  border: 2px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
  display: none;
}

details summary::-webkit-details-marker {
  display: none;
}
